# CORE DATA SCIENCE, ETL & PARQUET MANAGEMENT
numpy==2.4.6
pandas==2.3.3
pyarrow==24.0.0

# MACHINE LEARNING, DATA MINING & CLUSTERING
scikit-learn==1.9.0
scipy==1.17.1

# FOOTBALL ANALYTICS, GRAPHICS & NOTEBOOK INTERACTIVITY
matplotlib==3.10.0
mplsoccer==1.6.1
seaborn==0.13.2
ipywidgets==8.1.8
notebook==7.5.7

# DEEP LEARNING, COMPUTER VISION & ENVIRONMENT SECURITY
ultralytics==8.4.66
roboflow==1.3.10
python-dotenv==1.2.2
opencv-python==4.13.0.92
torch==2.12.0